　 * {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Kreon", serif !important;
  font-size: 16px;
}
.App {
  text-align: center;
}

/* Product list page styling */
.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.filterContainer > * {
  width: 50%;
}

.userPage {
  background-image: url("bgImg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.wrapper {
  background-color: rgba(233, 245, 255, 0.7);
  width: 90vw;
  /* border: 1px solid black; */
}

.naVbarButton {
  position: fixed;
  top: 1em;
  right: 10%;
}

#bgVideo {
  max-width: 100%;
  max-height: 100%;
}

#login,
#signup {
  padding: 10px;
}
h1 {
  font-size: 4rem;
  margin: 0;
}

.contents_inner {
  box-sizing: boder-box;
  width: 100%;
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
.loginbox {
  position: relative;
  overflow: hidden;
  padding: 200px 0;
  z-index: 2;
}
.loginbox:before {
  content: "";
  position: absolute;
  left: 0;
  width: 140%;
  height: 51%;
  margin: 10% -20% 0;

  background-image: linear-gradient(to right, rgb(0, 27, 81) 0%, #517fa4 100%);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  z-index: -1;
}

.logincontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(233, 245, 255, 0.7);
}
