　 * {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgb(68, 68, 68);
}
.App {
  text-align: center;
}

/* Product list page styling */
.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#titleimg {
  width: 100%;
}
#titleimg img {
  width: 100%;
}

#logImg {
  width: 30px;
}
#logImg img {
  width: 100%;
}
.filterContainer > * {
  width: 50%;
}

.userPage {
  background-image: url("bgImg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* white paper */
.wrapper {
  background-color: rgba(233, 245, 255, 0.94);
  background-size: cover;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* component size(width) */
.content {
  width: 60%;
  left: 20%;
  top: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: 1px solid pink; */
}
.contentAfter {
  width: 60%;
  left: 20%;
  top: 10%;
  margin-bottom: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid pink;
}
.contentGmap {
  top: 20px;
  right: 10%;
  position: relative;
  /* border: 1px solid pink; */
  /* left: ; */
}
.MuiFormControl-root {
  margin-left: 50%;
}
.contentImgfile {
  width: 60%;
  left: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: 1px solid pink; */
}
.element.style {
  width: 650px;
}

.naVbarButton {
  width: 100vw;
  position: fixed;
  top: 1em;
  right: 10%;
}

.App-link {
  color: #09d3ac;
}
*/ .requestContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.requestContainer > * {
  margin: 2%;
}

.soldProductContainer {
  margin: 5%;
}


.addProductBtn > * {

  text-align: center;
  text-decoration: none;
  display: inline-block
}
#bgVideo {
  width: 100%;
  display: block;
  margin: 0 0 0 auto;
}

#login,
#signup {
  padding: 40px;
}
h1 {
  font-size: 4rem;
  margin: 0;
}

.contents_inner {
  box-sizing: boder-box;
  margin: 100px;
  width: 100%;
  max-width: 800px;
  padding-top: 100px;
  margin: 0 auto;
  color: rgb(0, 27, 81);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.loginbox {
  position: relative;
  overflow: hidden;
  padding: 180px 0;
  z-index: 2;
}

.main {
  position: absolute;
  border: 1px solid black;
  top: 0;
  right: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.loginbox:before {
  content: "";
  position: absolute;
  left: 0;
  width: 140%;
  height: 51%;
  margin: 10% -20% 0;
  background-image: linear-gradient(to right, rgb(0, 27, 81) 0%, #517fa4 100%);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  z-index: -1;
}

.logincontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(233, 245, 255, 0.7);
}

.googlemap {
  width: 10px;
}

