* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

/* Product list page styling */
.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.filterContainer > * {
  width: 50%;
}

.userPage {
  background-image: url("bgImg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100vw;

  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.wrapper {
  background-color: rgba(233, 245, 255, 0.7);
  width: 90vw;
  /* border: 1px solid black; */
}

.naVbar > button {
  position: fixed;
  top: 0;
  right: 0;
}
